<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script type="text/javascript" th:src="@{/static/js/jquery-2.1.4.js}"></script>
<link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/static/css/bootstrap-combined.min.css}" rel="stylesheet" type="text/css" />
<script type="javascript">
$(function(){   
    //导航切换
    $(".imglist li").click(function(){
        $(".imglist li.selected").removeClass("selected")
        $(this).addClass("selected");
    })  
})  
</script>
</head>
<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="#">首页</a></li>
			<li><a href="#">设备类型列表</a></li>
		</ul>
	</div>
	<a href="/membership/equipmentType/add">增加</a>
	<table class="imgtable">
	  <thead>
	    <tr>
	      <th>名称</th>
	      <th>描述</th>
	      <!-- <th>code</th>
	      <th>设备类型</th>-->
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="eType : ${etypePage.list}" >
	      <td th:text="${eType.name}">1,001</td>
	      <td th:text="${eType.description}">Lorem</td>
	      <td>
	      	<a th:href="'/membership/equipmentType/edit/'+${eType.id}+'/'+${currentPage}" style="margin-right: 10%;"><img th:src="@{/static/images/bian.png}">&nbsp;&nbsp;编辑</a>
	        <a th:href="'/membership/equipmentType/delete/' + ${eType.id }+'/'+${currentPage}"><img th:src="@{/static/images/shan.png}">&nbsp;&nbsp;删除</a>
	      </td>
	    </tr>
	  </tbody>
	</table>
	
	<div class="pagin">
		<div class="message">
			共<i class="blue" th:text="${etypePage.page.count}"></i>条记录，页次&nbsp;<i
				class="blue" th:text="${currentPage }+'/'+${etypePage.page.total }">&nbsp;</i>页
		</div>
		<ul class="paginList" th:if="${etypePage.page.endPageIndex ne 0}">
			<li class="paginItem"><a href="javascript: gotoPage(1)"
				th:text="首页" style="cursor: hand;"> <span class="pagepre"></span>
			</a></li>
			<li th:each="num : ${#numbers.sequence(etypePage.page.beginPageIndex, etypePage.page.endPageIndex)}" class="paginItem">
				<a th:if="${num eq currentPage}" href="javascript:void(0);">
                     <font color="red" th:text="${num}"></font>
                </a>
                <a th:if="${not(num eq currentPage)}" th:href="'/membership/equipmentType/list/'+${num}">
                    <span th:text="${num}" class="PageSelectorNum" style="cursor: hand;"></span>
                </a>				
			</li>
			<li class="paginItem"><a th:text="尾页"
				th:href="'/membership/equipmentType/list/'+${etypePage.page.total}"
				style="cursor: hand;"><span class="pagenxt"></span> </a></li>
		</ul>
	</div>
	</body>
	<script type="text/javascript">
		function gotoPage( pageNum ){
			window.location.href = "/membership/equipmentType/list/" + pageNum;
		}
	</script>
</html>