<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
 <meta name="renderer" content="webkit">
    <title>健身会员管理中心</title>  
    <link rel="stylesheet" th:href="@{/static/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
    <script th:src="@{/static/js/jquery.js}"></script>  
</head>
<body>
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img th:src="@{/static/images/y.jpg}" class="radius-circle rotate-hover" height="50" alt="" />健身会员后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a href="##" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;<a class="button button-little bg-red" th:href="@{/logout}"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
</body>
</html>