<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8" />
	<title>会员添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link th:href="@{/static/css/right4.css}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container bg-white">
       <div class="row">
        <div class="col-md-8 col-md-offset-2  col-xs-8 col-xs-offset-2   col-lg-8 col-lg-offset-2 ">
             <br>
            <form class="form-horizontal" th:action="@{/membership/save/1}" th:object="${membership}" method="post">
             <br>
             	<div style="border-left:#3399FF solid 2px; padding:10px;"><h4>增加会员信息</h4></div>
                <hr>
                 <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> 会员的名称</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" name="username" id="username" placeholder="请输入名称"/>
                    </div>
                  </div>	
                 <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> 会员的年龄</label>
                    <div class="col-sm-7">
                    	<input type="text" class="form-control" name="age" id="age" placeholder="请输入年龄"/>
                    </div>
                  </div>	
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">性别 </label>
                    <div class="col-sm-8">
                      <label class="checkbox-inline">
                          <input type="radio" name="gender" id="gender" value="1"> 男
                        </label>
                        <label class="checkbox-inline">
                          <input type="radio" id="gender" name="gender" value="2"> 女
                        </label>      
                    </div>
                  </div>
              	<div class="form-group">
                    <label for="" class="col-sm-3 control-label">电话 </label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" name="tel" id="tel" placeholder="请输入电话"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">email </label>
                    <div class="col-sm-7">
                    	<input type="text" class="form-control" name="email" id="email"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">公司</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" name="company" id="company" placeholder="请输入公司名称"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">会员等级</label>
                    <div class="col-sm-7">
                    <select class="form-control" id="level_id" name="level_id">
	                    <option th:each="var : ${levelList}" th:value="${var.id}" th:text="${var.levelName}">Thymus Thymi</option>
	                </select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">家庭住址</label>
                    <div class="col-sm-7">
                    <input type="text" class="form-control" name="address" id="address" placeholder="请输入家庭住址"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">总共健身次数</label>
                    <div class="col-sm-7">
                    	<input type="text" class="form-control" name="leftTimes" id="leftTimes" placeholder="请输入总共健身次数"/>
                    </div>
                  </div>
                <div class="form-group">    
                 <br>
                    <div class="col-sm-1 col-sm-offset-7 ">  
                    <button type="submit" class="btn btn-primary">取消</button>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1 ">
                    <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
              </form>    
       	</div>
       </div>      
	</div>

	<!-- <form th:action="@{/membership/save/1}" th:object="${membership}" method="post">
				<input type="text" name="username" id="username" placeholder="请输入名称"/>
				<input type="text" name="age" id="age" placeholder="请输入年龄"/>
				<input type="radio" name="gender" id="gender" value="2"/> 女
				<input type="radio" name="gender" id="gender" value="1"/> 男
				<input type="text" name="tel" id="tel" placeholder="请输入电话"/>
				<input type="text" name="company" id="company" placeholder="请输入公司名称"/>
				<select id="level_id" name="level_id" class="form-control select select-default mrs mbm" >
                    <option th:each="var : ${levelList}" th:value="${var.id}" th:text="${var.levelName}">Thymus Thymi</option>
                </select>
				<input type="text" name="address" id="address" placeholder="请输入家庭住址"/>
				<input type="text" name="leftTimes" id="leftTimes" placeholder="请输入总共健身次数"/>
			<button type="submit">增加</button>
	</form> -->
	<script th:src="@{/static/js/jquery-2.1.4.js}"></script>
</body>
</html>